# Currency Converter & Dashboard

### Research Exchange Rates & Calculate Your Currency Conversion

In [ ]:
""""
Action Plan

1. SETUP DICTIONARY OF THE CURRENCY CONVERSION PAIRS AND CODES FOR URL USE - COMPLETE
2. DETERMINE WHAT CURRENCY THE USER WANTS TO SEE - COMPLETE

NEXT STEPS - CREATE FUNCTION TO USE THE CORRECT CONVERSION CODES, GRAB THE CONVERSION CODES, AND DO THE CONVERSIONS
3. GET THE DATA TO BOTH GET LATEST CONVERSION RATE AND HISTORICAL INFORMATION FOR DASHBOARD
    - SAVE DOWN DATA FRAME FOR DASHBOARD
    - ACCESS FIRST LINE FOR LATEST RATE
4. SETUP WEBAPP FOR CURRENCY CONVERSION AND DASHBOARD (END GOAL AND LAST STEP)

"""

In [1]:
# API KEY FOR NASDAQ DATA ACCESS
api_key = 'zfzFLkorymExtxaTPo6F'
#Zac push attempt 6:33pm

In [46]:
import os
import requests
import plotly.express as px
import pandas as pd
import pandas_datareader.data as web
from datetime import date

In [47]:
# CREATE DICTIONARY OF CONVERSIONS PAIRS AND CODE FOR API USING https://blog.data.nasdaq.com/api-for-currency-data

usd_codes = pd.read_excel("conversion_codes_usd.xlsx")
eur_codes = pd.read_excel("conversion_codes_eur.xlsx")
usd_codes_dict = usd_codes.to_dict()
eur_codes_dict = eur_codes.to_dict()

valid_currencies_usd = list(usd_codes_dict['Currency_Code'].values())
valid_currencies_eur = list(eur_codes_dict['Currency_Code'].values())

In [51]:
# USING VALUES PULL TO CHECK IF CODE IS IN ANY DICTIONARY https://thispointer.com/python-check-if-value-exists-in-list-of-dictionaries/
def currency_check(code):
    if code in (valid_currencies_usd or valid_currencies_eur):
        True
    else:
        False

In [52]:
# DETERMINE YOUR CURRENCIES TO CONVERT (USER INPUT)

#start_currency = input("Which Currency Would You Like To Convert? (USD or EUR) ").upper()

# STARTING CURRENCY MUST BE USD OR EUR
#if start_currency == ("USD" or "EUR"):
#    end_currency = input("Please Input Your Desired Currency To Convert (AUD, CAD, CNY ...): ").upper()
 #   # VALIDATE THE ENDING CURRENCY USING OUR CURRENCY CHECK FUNCTION
  #  currency_check(end_currency)
   # if True and (start_currency != end_currency): 
    #    print(f"You Want To Convert {start_currency} to {end_currency}")
    #else:
     #   print("You Chose an Invalid Currency to Convert, Please Run Again.")
#else:
 #   print ("You Chose an Invalid Currency to Convert, Please Run Again.")

You Want To Convert USD to JPY

In [59]:
# ACCESS THE DATA FROM NASDAQ & SAVE TO PANDAS DATA FRAME
def conversion_df_creation(start_currency, end_currency):
    if start_currency == "USD":
        position = valid_currencies_usd.index(end_currency)
        fred_code = usd_codes_dict["FRED_Code"][position]
        url_usd = f"https://data.nasdaq.com/api/v3/datasets/FRED/{fred_code}.csv?api_key={api_key}"
        conversion_df = pd.read_csv(url_usd)
        return conversion_df
    else:
        position = valid_currencies_eur.index(end_currency)
        ecb_code = usd_codes_dict["ECB_Code"][position]
        url_eur = f"https://data.nasdaq.com/api/v3/datasets/ECB/{ecb_code}.csv?api_key={api_key}"
        conversion_df = pd.read_csv(url_eur)
        return conversion_df

In [64]:
#exchange_rates_df = conversion_df_creation("USD","AUD")

position = valid_currencies_usd.index("EUR")
fred_code = usd_codes_dict["FRED_Code"][position]
url_usd = f"https://data.nasdaq.com/api/v3/datasets/FRED/{fred_code}.csv?api_key={api_key}"
conversion_df = pd.read_csv(url_usd)
latest_exchange_rate = conversion_df["Value"][0]

print (fred_code)
print (position)
print (latest_exchange_rate)
conversion_df

DEXUSEU
6
1.0089

            Date   Value
0     2022-07-15  1.0089
1     2022-07-14  1.0028
2     2022-07-13  1.0081
3     2022-07-12  1.0069
4     2022-07-11  1.0088
...          ...     ...
5900  1999-01-08  1.1554
5901  1999-01-07  1.1672
5902  1999-01-06  1.1636
5903  1999-01-05  1.1760
5904  1999-01-04  1.1812

[5905 rows x 2 columns]