# Currency Converter & Dashboard

### Research Exchange Rates & Calculate Your Currency Conversion

In [ ]:
""""
Action Plan

1. SETUP DICTIONARY OF THE CURRENCY CONVERSION PAIRS AND CODES FOR URL USE - COMPLETE
2. DETERMINE WHAT CURRENCY THE USER WANTS TO SEE - COMPLETE

NEXT STEPS - CREATE FUNCTION TO USE THE CORRECT CONVERSION CODES, GRAB THE CONVERSION CODES, AND DO THE CONVERSIONS
3. GET THE DATA TO BOTH GET LATEST CONVERSION RATE AND HISTORICAL INFORMATION FOR DASHBOARD
    - SAVE DOWN DATA FRAME FOR DASHBOARD
    - ACCESS FIRST LINE FOR LATEST RATE
4. SETUP WEBAPP FOR CURRENCY CONVERSION AND DASHBOARD (END GOAL AND LAST STEP)

"""

In [14]:
# API KEY FOR NASDAQ DATA ACCESS
api_key = 'zfzFLkorymExtxaTPo6F'

In [31]:
import os
import requests
import plotly.express as px
import pandas as pd
import pandas_datareader.data as web
from datetime import date

In [32]:
# CREATE DICTIONARY OF CONVERSIONS PAIRS AND CODE FOR API USING https://blog.data.nasdaq.com/api-for-currency-data

usd_codes = pd.read_excel("conversion_codes_usd.xlsx")
eur_codes = pd.read_excel("conversion_codes_eur.xlsx")
usd_codes_dict = usd_codes.to_dict()
eur_codes_dict = eur_codes.to_dict()

In [44]:
# USING VALUES PULL TO CHECK IF CODE IS IN ANY DICTIONARY https://thispointer.com/python-check-if-value-exists-in-list-of-dictionaries/
def currency_check(code):
    valid_currencies_usd = usd_codes_dict['Currency_Code']
    valid_currencies_eur = eur_codes_dict['Currency_Code']
    if code in (valid_currencies_usd.values() or valid_currencies_eur.values()):
        True
    else:
        False

In [46]:
# DETERMINE YOUR CURRENCIES TO CONVERT (USER INPUT)

start_currency = input("Which Currency Would You Like To Convert? (USD or EUR) ").upper()

# STARTING CURRENCY MUST BE USD OR EUR
if start_currency == ("USD" or "EUR"):
    end_currency = input("Please Input Your Desired Currency To Convert (AUD, CAD, CNY ...): ").upper()
    # VALIDATE THE ENDING CURRENCY USING OUR CURRENCY CHECK FUNCTION
    currency_check(end_currency)
    if True and (start_currency != end_currency): 
        print(f"You Want To Convert {start_currency} to {end_currency}")
    else:
        print("You Chose an Invalid Currency to Convert, Please Run Again.")
else:
    print ("You Chose an Invalid Currency to Convert, Please Run Again.")

You Want To Convert USD to CAD

In [16]:
# ACCESS THE DATA FROM NASDAQ & SAVE TO PANDAS DATA FRAME
def conversion_df_creation(start_currency, end_currency):
    usd_conversion_code = ""
    eur_conversion_code = ""

    url_usd = f"https://data.nasdaq.com/api/v3/datasets/FRED/{usd_conversion_code}.csv?api_key={api_key}"
    url_eur = f"https://data.nasdaq.com/api/v3/datasets/ECB/{eur_conversion_code}.csv?api_key={api_key}"

    conversion_df = pd.read_csv(url)

In [17]:
conversion_df

             Date   Value
0      2022-07-15  0.6793
1      2022-07-14  0.6744
2      2022-07-13  0.6786
3      2022-07-12  0.6772
4      2022-07-11  0.6750
...           ...     ...
12914  1971-01-08  1.1124
12915  1971-01-07  1.1138
12916  1971-01-06  1.1140
12917  1971-01-05  1.1132
12918  1971-01-04  1.1127

[12919 rows x 2 columns]